<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo text-warning"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z" />
        <path fill-rule="evenodd"
          d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z" />
      </svg>
      The Tortilla Route
    </a>
    <button class="navbar-toggler border border-warning" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <option class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" value="">Cities</option>
          <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
            <option (click)="selectLocation($event)" *ngFor="let city of arrLocations"
              class="dropdown-item bg-secondary text-white" [value]="city.location.toLowerCase()">{{ city.location }}
            </option>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new']" routerLinkActive="active">Add
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z" />
              <path fill-rule="evenodd"
                d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
              <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
            </svg>
          </a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input (input)="findSearch()" [(ngModel)]="search" class="form-control mr-sm-2" type="search"
          placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="findSearch()"><svg width="1em"
            height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
          </svg></button>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
